.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat';
}

.btn:hover,
.btn:focus {
  background-color: #0c9fee;
  color: whitesmoke;
}

.input {
  font-family: 'Montserrat';
  padding: 3px;
}
